## Игнорируемые файлы
Файл .gitignore настроен для проекта Terraform. Будут проигнорированы:
- Локальные каталоги .terraform
- Файлы состояний .tfstate и .tfstate.backup
- Файлы переопределений override.tf
- Файлы с переменными terraform.tfvars
- Логи crash.log
- Файлы с чувствительными данными
